<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="font-weight-bold">Ürün Yönetimi</h5>
        </div>
        <div class="card-body">
          <form action="" method="post" class="form-horizontal">
            <input type="hidden" name="id" id="id">
            <div class="form-group row">
              <div class="col-md-12 col-lg-6">
                <label for="productId">Ürün</label>
                <select id="productId" name="productId" #productId (change)="productOnChange(productId.value)" [(ngModel)]="warehosue.productId" class="form-control">
                  <option value="0">Ürün Seçiniz</option>
                  <option *ngFor="let item of products" value="{{item.id}}">{{item.name}}</option>
                </select>
              </div>
              <div class="col-md-12 col-lg-6">
                <label for="prType">İşlem Türü</label>
                <select id="prType" name="prType" [(ngModel)]="warehosue.prType" #prType (change)="typeOnChange(prType.value)" class="form-control">
                  <option value="0">İşlem Türü Seçiniz</option>
                  <option value="4">Stok Girişi</option>
                  <option value="2">Stok Çıkışı</option>
                </select>
              </div>
              <div class="col-md-12 col-lg-6">
                <div *ngIf="isCustomer">
                  <label for="currentAccount">Müşteri</label>
                  <select id="currentAccount" name="currentAccount" [(ngModel)]="warehosue.currentAccount" class="form-control">
                    <option value="0">Müşteri Seçiniz</option>
                      <option *ngFor="let item of customers" value="{{item.id}}">{{item.name}} {{item.surname}}</option>
                  </select>
                </div>
                <div *ngIf="isSupplier">
                  <label for="currentAccount">Tedarikçi</label>
                  <select id="currentAccount" name="currentAccount" [(ngModel)]="warehosue.currentAccount" class="form-control">
                    <option value="0">Şirket Seçiniz</option>
                  <option *ngFor="let item of suppliers" value="{{item.id}}">{{item.companyName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <label for="unitPrice">Birim Fiyat</label>
                <input type="number" [(ngModel)]="unitPrice" id="unitPrice" name="unitPrice" class="form-control" disabled>
              </div>
              <div class="col-md-12 col-lg-6">
                <label for="amount">Miktar</label>
                <input type="number" id="amount" name="amount" (input)="onAmountChange($event.target.value)" 
                [(ngModel)]="warehosue.amount" class="form-control" placeholder="İşlem Adedi">
              </div>
              <div class="col-md-12 col-lg-6">
                <label for="discount">İndirim</label>
                <input type="number" id="discount" [(ngModel)]="warehosue.discount" name="discount" (input)="onDiscountChange($event.target.value)"  class="form-control" placeholder="İndirim(% olarak giriniz)">
              </div>
              <div class="col-md-12 col-lg-6">
                <label for="cost">Tutar</label>
                <input type="number" id="cost" name="cost" [(ngModel)]="warehosue.cost" class="form-control" placeholder="Toplam Fiyat">
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="button" (click)="add()" class="btn btn-sm btn-primary"><i class="fi fi-rr-check"></i> {{buttonText}}</button>
          <button type="reset" (click)="reset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Vazgeç</button>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-form-field appearance="standard">
  <mat-label>Sonuçlar içinde aramak için tıklayınız</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Herhangi bir kelime yazınız..." #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort #productSort="matSort">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ürün Adı</th>
      <td mat-cell *matCellDef="let row"> {{row.product.name}}</td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birim Fiyat</th>
      <td mat-cell *matCellDef="let row"> {{row.unitPrice}}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Birim Miktarı</th>
      <td mat-cell *matCellDef="let row"> {{row.amount}}</td>
    </ng-container>

    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>İndirim</th>
      <td mat-cell *matCellDef="let row"> %{{row.discount}}</td>
    </ng-container>

    <ng-container matColumnDef="cost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tutar</th>
      <td mat-cell *matCellDef="let row">{{row.cost}}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>İşlem Zamanı</th>
      <td mat-cell *matCellDef="let row"> {{row.createdAt | date: 'dd/M/yyyy hh:mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="transactionType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>İşlem Türü</th>
      <td mat-cell *matCellDef="let row"> {{row.accountingTransaction.accountingTransactionTypeId == 4 ? "Alış": "Satış"}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>İşlemler</th>
      <td mat-cell *matCellDef="let row">
        <button type="button" class="btn btn-info">Detaylar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aradığınız kriterlere uygun kayıt bulunamadı "{{input.value}}"</td>
    </tr>
  </table>

   <app-generic-paginator #productPaginator [length]="total" [pageIndex]="pageIndex" [pageSize]="pageSize" 
        [pageSizeOptions]="[10, 25, 50, 75, 100, 150]" (pageChange)="onPage($event)"></app-generic-paginator>

</div>


