<div class="container-fluid mt-5 animated fadeIn">
    <div class="row">
      <div class="col-md-12">
          <div class="mt-3">
              <ul class="list list-inline row justify-content-center">
                  <li class="d-flex justify-content-between col-5 mx-1" *ngFor="let item of service.selectedTeacherStudents" >
                      <div class="d-flex flex-row align-items-center">
                          <div class="profile-image">
                              <img class="rounded-circle" src="{{mainUrl}}lesson-images/{{service.selectedLessonImage}}" width="30">
                          </div>
                          <div class="ml-2">
                              <h6 class="mb-0">{{item.customer.name}} {{item.customer.surname}} - {{item.artPackage.category.categoryName}} / {{item.artPackage.subCategory.subCategoryName}} / {{item.artPackage.artPackageName}}</h6>
                              <div class="d-flex flex-row mt-1 text-black-50 date-time">
                                  <div><i class="fa fa-calendar-o"></i><span class="ml-2">{{item.startDate | date: 'dd/M/yyyy'}} - {{item.finishDate | date: 'dd/M/yyyy'}}</span></div>
                                  <div class="ml-3"><i class="fi fi-rr-users-class"></i><span class="ml-2">{{item.classroom.classromName}}</span></div>
                                  <div class="ml-3"><i class="fi fi-rr-user"></i><span class="ml-3">{{item.staff.name}} {{item.staff.surname}}</span></div>
                              </div>
                          </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                          <div class="d-flex flex-column mr-2">
                              <button class="btn btn-primary" (click)="openLessons(item.customer.id)" role="button"><i class="fi fi-rr-eye"></i></button>
                          </div>
                      </div>
                  </li>
  
              </ul>
          </div>
      </div>
  </div>
  </div>