<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Parola</strong> Güncelleme Formu
        </div>
        <div class="card-body">
          <div class="card-body">
            <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="oldPassword">Mevcut Parolanız</label>
                <div class="col-md-9">
                  <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control">
                  <div *ngIf="updatePasswordForm.get('oldPassword')?.invalid && updatePasswordForm.get('oldPassword')?.touched" class="text-danger">
                    Mevcut parola gereklidir.
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="newPassword">Yeni Parolanız</label>
                <div class="col-md-9">
                  <input type="password" id="newPassword" formControlName="newPassword" class="form-control">
                  <div *ngIf="updatePasswordForm.get('newPassword')?.invalid && updatePasswordForm.get('newPassword')?.touched" class="text-danger">
                    Yeni parola en az 8 karakter olmalıdır.
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="passwordAgain">Tekrar Yeni Parolanız</label>
                <div class="col-md-9">
                  <input type="password" id="passwordAgain" formControlName="passwordAgain" class="form-control">
                  <div *ngIf="updatePasswordForm.errors?.passwordsMismatch && updatePasswordForm.get('passwordAgain')?.touched" class="text-danger">
                    Şifreler eşleşmiyor.
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" [disabled]="updatePasswordForm.invalid" class="btn-sm btn-block btn-info">
                  Güncelle
                </button>
              </div>
            </form>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
