<div class="wrapper ">
  <!--<div class="sidebar" data-color="primary" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
      <a href="/" class="simple-text logo-normal">
        <img width="50px" src="../../../assets/img/logo.png" alt="Timemula"> <b style="padding-left: 10px;">Timemula</b>
      </a>
    </div>
    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="mailto:info@almulayazilim.com.tr" class="simple-text logo-normal"
          style="position: absolute; top: 460px; right: 0;">
          <img width="350px" src="../../../assets/img/help.png" alt="Destek">
        </a>
      </div>
    </div>
  </div>-->
  <div class="main-panel">
    <nav class="navbar navbar-expand-lg navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <img src="../../../assets/img/timemula_logo.jpg" style="width: 190px;" alt="">
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="dashboard">
                Anasayfa
              </a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="genel-rapor.html">
                Genel Rapor
              </a>
            </li>
            <li class="nav-item dropdown" routerLinkActive="active"
              *ngIf="canAccessAny(['Customers', 'Staffs', 'Categories', 'SubCategories', 'Packages', 'SearchEngines', 'FamilyMembers', 'Health'])">
              <a class="nav-link" href="#" id="navbarDropdownDefinationsLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Genel Tanımlar
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDefinationsLink">
            <li class="nav-item" *ngIf="canAccess('Customer')">
              <a class="dropdown-item" routerLink="musteriler">
                Müşteriler
              </a>
            </li>
            <li class="nav-item" *ngIf="canAccess('Staff')">
              <a class="dropdown-item" routerLink="personeller">
                Personeller
              </a>
            </li>
            <li class="nav-item" *ngIf="canAccess('Category')">
              <a class="dropdown-item" routerLink="/genel-tanimlar/kategoriler.html">
                Kategoriler
              </a>
            </li>
            <li class="nav-item" *ngIf="canAccess('SubCategory')">
              <a class="dropdown-item" routerLink="/genel-tanimlar/alt-kategoriler.html">
                Alt Kategoriler
              </a>
            </li>
            <li class="nav-item" *ngIf="canAccess('Packages')">
              <a class="dropdown-item" routerLink="/genel-tanimlar/paketler.html">
                Paketler
              </a>
            </li>
            <li class="nav-item" *ngIf="canAccess('SearchEngine')">
              <a class="dropdown-item" routerLink="/genel-tanimlar/arama-motorlari.html">
                Pazarlama Kanalları
              </a>
            </li>
            <li class="nav-item active-pro" *ngIf="canAccess('FamilyMember')">
              <a class="dropdown-item" routerLink="/genel-tanimlar/ebeveynler.html">
                Yakınlık Türleri
              </a>
            </li>
            <li class="nav-item active-pro" *ngIf="canAccess('Health')">
              <a class="dropdown-item" routerLink="/genel-tanimlar/genel-saglik-sorunlari.html">
                Genel Sağlık Problemleri
              </a>
            </li>
        </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active"
          *ngIf="canAccessAny(['Lesson', 'Classroom', 'LessonClassroom', 'LessonStaff'])">
          <a class="nav-link" href="#" id="navbarDropdownDefinationsLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Hizmet Tanımları
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownDefinationsLink">
        <li class="nav-item active-pro" *ngIf="canAccess('Lesson')">
          <a class="dropdown-item" routerLink="/genel-tanimlar/dersler.html">
            Hizmetler
          </a>
        </li>
        <li class="nav-item active-pro" *ngIf="canAccess('Classroom')">
          <a class="dropdown-item" routerLink="/genel-tanimlar/derslikler.html">
           Hizmet Ortamı
          </a>
        </li>
        <li class="nav-item active-pro" *ngIf="canAccess('LessonClassroom')">
          <a class="dropdown-item" routerLink="/genel-tanimlar/ders-sinif-iliskisi.html">
            Hizmet/Ortam İlişkisi
          </a>
        </li>
        <li class="nav-item active-pro" *ngIf="canAccess('LessonStaff')">
          <a class="dropdown-item" routerLink="/genel-tanimlar/hizmet-calisan-iliskisi.html">
            Hizmet/Personel İlişkisi
          </a>
        </li>
      </div>
      </li>
      <li class="nav-item dropdown" *ngIf="canAccessAny(['PackageModule', 'Customer'])">
        <a class="nav-link" href="#" id="navbarDropdownCustomerLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Müşteri İşlemleri
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownCustomerLink">
          <a class="dropdown-item" routerLink="/musteri-islemleri/paket-ekle.html" *ngIf="canAccess('PackageModule')">Paket Kaydı</a>
          <a class="dropdown-item" routerLink="/musteri-islemleri/randevu-girisi.html" *ngIf="canAccess('Customer')">Randevu Kaydı</a>
          <a class="dropdown-item" routerLink="/actual-hareketler/ogrenci-listesi.html" *ngIf="canAccess('Customer')">Müşteri Listesi</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="canAccessAny(['StaffPayment', 'StaffWorkDay', 'StaffLessonList'])">
        <a class="nav-link" href="#" id="navbarDropdownEducatorLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Personel İşlemleri
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownEducatorLink">
          <a class="dropdown-item" routerLink="/actual-hareketler/egitmen-listesi.html" *ngIf="canAccess('StaffPayment')">Personel Listesi ve
            Hakedişler</a>
          <a class="dropdown-item" routerLink="/genel-tanimlar/egitmen-mesaileri.html" *ngIf="canAccess('StaffWorkDay')">Personel Mesaileri</a>
          <a class="dropdown-item" routerLink="/egitmen-islemleri/dersler.html" *ngIf="canAccess('StaffLessonList')">Personel Hizmetleri</a>
        </div>
      </li>
      <li class="nav-item dropdown"
        *ngIf="canAccessAny(['CashBox', 'CashBoxTransaction', 'AccountTransaction', 'StaffPaymentTransaction', 'CollectionTransaction', 'PaymentForm', 'Supplier'])">
        <a class="nav-link" href="#" id="navbarDropdownFinancialLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Finansal İşlemler
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownFinancialLink">
          <a class="dropdown-item" routerLink="/finansal-tanimlar/kasa-tanimlari.html" *ngIf="canAccess('CashBox')">Kasa Tanımları</a>
          <a class="dropdown-item" routerLink="/finansal-tanimlar/kasa-hareketleri.html" *ngIf="canAccess('CashBoxTransaction')">Kasa Hareketleri</a>
          <a class="dropdown-item" routerLink="/cari-hesaplar/hesap-hareketleri.html" *ngIf="canAccess('AccountTransaction')">Cari Hesap Hareketleri</a>
          <a class="dropdown-item" routerLink="/finansal-tanimlar/hakedis-hareketleri.html" *ngIf="canAccess('StaffPaymentTransaction')">Hakediş Hareketleri</a>
          <a class="dropdown-item" routerLink="/cari-hesaplar/tahsilat-formu.html" *ngIf="canAccess('CollectionTransaction')">Tahsilat Formu</a>
          <a class="dropdown-item" routerLink="/cari-hesaplar/odeme-formu.html" *ngIf="canAccess('PaymentForm')">Ödeme Formu</a>
          <a class="dropdown-item" routerLink="/cari-hesaplar/tedarikciler.html" *ngIf="canAccess('Supplier')">Tedarikçiler</a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="canAccessAny(['Product', 'ProductTransaction'])">
        <a class="nav-link" href="#" id="navbarDropdownProductLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Ürün Tanım ve Satış İşlemleri
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProductLink">
          <a class="dropdown-item" routerLink="/urunler" *ngIf="canAccess('Product')">Ürün Ekle</a>
          <a class="dropdown-item" routerLink="/urunler-islemleri" *ngIf="canAccess('ProductTransaction')">Ürün İşlemleri</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdownUsersLink" data-toggle="dropdown" aria-haspopup="true">
          Kullanıcı İşlemleri
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUsersLink">
          <a class="dropdown-item" routerLink="/kullanicilar">Kullanıcı Ekle</a>
          <a class="dropdown-item" routerLink="/roller">Roller</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fi fi-rr-user"></i>
          <p class="d-lg-none d-md-block">
            Hesabım
          </p>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
          <a class="dropdown-item" href="#">Hesabım</a>
          <a class="dropdown-item" href="/update-password">Ayarlar</a>
          <a class="dropdown-item" href="/form">Kuruluma Git</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Çıkış</a>
        </div>
      </li>
      </ul>
  </div>
</div>
</nav>
<div class="content">
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
</div>
</div>
