<section class="row d-flex" style="margin: 0;">
  <div class="col-lg-6">
    <img src="../../../assets/img/timemula_randevu.jpg" style="width: 88%;" alt="">
  </div>
  <div class="col-lg-6 flex-center flex-column" style="height: 100vh;">
    <h3 class="mb-8">Yeni Parola Oluştur</h3>
    <div class="mb-24">
      <label for="password" class="form-label mb-8 h6">Yeni parolanız</label>
      <div class="position-relative">
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="resetPasswordModel.password"
          required>
        <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i
            class="ph ph-user"></i></span>
      </div>
    </div>
    <div class="mb-24">
      <label for="passwordAgain" class="form-label mb-8 h6">Yeni parolanız (Tekrar)</label>
      <div class="position-relative">
        <input type="password" class="form-control" name="passwordAgain" id="passwordAgain" [(ngModel)]="resetPasswordModel.passwordAgain"
          required>
        <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i
            class="ph ph-user"></i></span>
      </div>
    </div>
    <button type="button" (click)="sendResetRequest()" class="btn btn-small btn-info">Gönder</button>
  </div>
</section>