<section class="row d-flex" style="margin: 0;">
  <div class="col-lg-6">
    <img src="../../../assets/img/timemula_randevu.jpg" style="width: 88%;" alt="">
  </div>
  <div class="col-lg-6 flex-center flex-column" style="height: 100vh;">
    <h3 class="mb-8">Parolamı Unuttum</h3>
    <div class="mb-24">
      <p>Lütfen size sıfırlama linki gönderebilmemiz için mail adresinizi yazınız.</p>
      <label for="email" class="form-label mb-8 h6">Email</label>
      <div class="position-relative">
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="forgotPasswordModel.email"
          required>
        <span class="position-absolute top-50 translate-middle-y ms-16 text-gray-600 d-flex"><i
            class="ph ph-user"></i></span>
      </div>
    </div>
    <button type="button" (click)="sendForgotPasswordRequest()" class="btn btn-small btn-info">Gönder</button>
  </div>
</section>