<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="font-weight-bold">Kullanıcı Kayıt Formu</h5>
                    <span class="align-middle">
                        <i class="fi fi-rr-info"></i>
                        Firmanız için kullanıcılar ekleyebilirsiniz. <br>
                    </span>
                </div>
                <div class="card-body">
                    <form class="form-horizontal">
                        <input type="hidden" name="id" id="id" [(ngModel)]="companyUserModel.id">
                        <div class="form-group row">
                            <div class="col-md-12 col-lg-6">
                                <label for="name">Adı</label>
                                <input type="text" id="name" [(ngModel)]="companyUserModel.name" name="name"
                                    class="form-control" placeholder="Adı">
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <label for="surname">Soyadı</label>
                                <input type="text" id="surname" [(ngModel)]="companyUserModel.surname" name="surname"
                                    class="form-control" placeholder="Soyadı">
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <label for="email">E-Posta</label>
                                <input type="email" id="email" [(ngModel)]="companyUserModel.email" name="email"
                                    class="form-control" placeholder="E-Posta">
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <label for="phone">Telefon</label>
                                <input type="tel" id="phone" [(ngModel)]="companyUserModel.phoneNumber" name="phone"
                                    class="form-control" placeholder="Telefon">
                            </div>
                            <div *ngIf="!isDetail" class="col-md-12 col-lg-6">
                                <label for="password">Parola</label>
                                <input type="password" id="password" [(ngModel)]="companyUserModel.password"
                                    name="password" class="form-control" placeholder="Parola">
                            </div>
                        </div>
                    </form>
                    <div class="card-footer">
                        <button type="submit" (click)="addCompanyUser()" class="btn btn-sm btn-primary"><i
                                class="fi fi-rr-check"></i>
                            {{buttonText}}</button>
                        <button type="reset" (click)="reset()" class="btn btn-sm btn-red"><i
                                class="fi fi-rr-cross-circle"></i>
                            Formu Temizle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="col-md-12">
                    <div class="card-header">
                        <strong>Kullanıcı Listesi</strong>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Adı</th>
                                    <th>Soyadı</th>
                                    <th>E-Posta</th>
                                    <th>Telefon</th>
                                    <th>Role</th>
                                    <th style="text-align: right;">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of companyUserModels">
                                    <td>{{item.name}}</td>
                                    <td>{{item.surname}}</td>
                                    <td>{{item.email}}</td>
                                    <td>{{item.phoneNumber}}</td>
                                    <td>
                                        <span *ngFor="let role of item.roles" class="badge badge-info mr-1">
                                            {{role.name}}
                                        </span>
                                    </td>
                                    <td style="text-align: right;">
                                        <button class="btn btn-orange btn-info" (click)="getDetailFromTable(item, item.id)"><i
                                                class="fi fi-rr-user-pen"></i></button>
                                        <button class="btn btn-red btn-info" (click)="remove(item.id)"><i
                                                class="fi fi-rr-trash"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer pb-0 pt-3">
                        <app-generic-paginator #userPaginator [length]="total" [pageIndex]="pageIndex"
                            [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50, 75, 100, 150]"
                            (pageChange)="onPage($event)"></app-generic-paginator>

                    </div>
                </div><!--/.col-->
            </div><!--/.row-->
        </div>