<main class="main">
	<div class="responsive-wrapper">
		<div class="content-header">
			<div class="content-header-intro">
				<div class="main-header">
					<h1>Timemula'ya Hoşgeldiniz</h1>
				</div>
				<h2>Timemula uygulamasıyla kurumunuzu uçtan uca yönetin.</h2>
				<p>Timemula randevu ve müşteri yönetimini akıllıca sunan bir uygulamadır.</p>
			</div>
			<div class="content-header-actions">
				<a href="mailto:info@almulayazilim.com.tr" class="button">
					<i class="fi fi-rr-envelope-plus"></i>
					<span>Filters</span>
				</a>
				<a href="mailto:info@almulayazilim.com.tr" class="button">
					<i class="fi fi-rr-envelope-plus"></i>
					<span>Yardım Talebi</span>
				</a>
			</div>
		</div>
		<div class="content">
			<div class="content-main">
				<div class="card-grid">
					<article class="card" *ngIf="canAccess('PackageModule')">
						<div class="card-header">
							<div>
								<span><i class="fi fi-rr-legal"></i></span>
								<h3>Paket Uygunluk Sorgulama</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Personel, hizmet ve hizmet ortam kontrolleri sağlayabilirsiniz.</p>
						</div>
						<div class="card-footer">
							<a href="/musteri-islemleri/paket-ekle.html">Görüntüle</a>
						</div>
					</article>
					<article class="card" *ngIf="canAccess('PackageModule')">
						<div class="card-header">
							<div>
								<span><i class="fi fi-rr-calendar-check"></i></span>
								<h3>Müşteri Paketleri</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Müşterinin mevcut paketlerini görüntüleyebilirsiniz, paketler üzerinden işlemler
								yapabilirsiniz.</p>
						</div>
						<div class="card-footer">
							<a href="/actual-hareketler/ogrenci-listesi.html">Görüntüle</a>
						</div>
					</article>
					<article class="card" *ngIf="canAccess('AccountTransaction')">
						<div class="card-header">
							<div>
								<span><i class="fi fi-rr-wallet"></i></span>
								<h3>Müşteri Ödeme İşlemleri</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Müşteriden tahsilat yap veya son borç bakiye bilgilerini öğrenebilirsiniz.</p>
						</div>
						<div class="card-footer">
							<a href="/cari-hesaplar/tahsilat-formu.html">Görüntüle</a>
						</div>
					</article>
					<article class="card" *ngIf="canAccess('LessonStaff')">
						<div class="card-header">
							<div>
								<span><i class="fi fi-rr-invite"></i></span>
								<h3>Personel Programları</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Personellerin verdikleri hizmetleri hakkında bilgi alabilirsiniz.</p>
						</div>
						<div class="card-footer">
							<a href="/egitmen-islemleri/dersler.html">Görüntüle</a>
						</div>
					</article>
					<article class="card" *ngIf="canAccess('StaffPayment')">
						<div class="card-header">
							<div>
								<span><i class="fi fi-rr-credit-card-buyer"></i></span>
								<h3>Personel Hakediş İşlemleri</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Personellerin hakedişleri üzerinden bilgi alabilirsiniz.</p>
						</div>
						<div class="card-footer">
							<a href="/actual-hareketler/egitmen-listesi.html">Görüntüle</a>
						</div>
					</article>
					<article class="card">
						<div class="card-header">
							<div>
								<span><i class="fi fi-rr-stats"></i></span>
								<h3>Genel Raporlar</h3>
							</div>
						</div>
						<div class="card-body">
							<p>Paket satışları, aktif müşteri, kasa raporları gibi raporlar alabilirsiniz.</p>
						</div>
						<div class="card-footer">
							<a href="/genel-rapor.html">Görüntüle</a>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
</main>