.date-button{
    position: absolute;
}

.date-input{
    float: left;
}

.mt-100{
    margin-top:100px;
}

.marginon-top{
        margin-top: -3px; 
}

.text-teal i {
    font-size: large;
    color: #DF2E38;
    cursor: pointer;
}