<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="font-weight-bold">Hizmet Kayıt Formu</h5>
          <span class="align-middle">
            <i class="fi fi-rr-info"></i>
            Hizmet oluşturmadan önce dilerseniz üst kategori veya alt kategori oluşturabilirsiniz. <br>
            <ul>
              <li><a href="/genel-tanimlar/kategoriler.html">Üst kategori oluştur</a></li>
              <li><a href="/genel-tanimlar/alt-kategoriler.html">Alt kategori oluştur</a></li>
            </ul>
          </span>
        </div>
        <div class="card-body">
          <form class="form-horizontal">
            <input type="hidden" name="id" id="id" [(ngModel)]="lesson.id">
            <div class="form-group row">
              <div class="col-md-6 col-lg-4">
                <select name="categoryId" (change)="categoryOnChange($event.target.value)" id="categoryId" [(ngModel)]="lesson.categoryId"
                 class="form-control">
                  <option value="0"> Kategori Seçiniz</option>
                  <option value="{{item.id}}" *ngFor="let item of categories">{{item.categoryName}}</option>
                </select>
              </div>
              <div class="col-md-6 col-lg-4">
                <select name="subCategoryId" id="subCategoryId" [(ngModel)]="lesson.subCategoryId" class="form-control">
                  <option value="0">Alt Kategori Seçiniz</option>
                  <option value="{{item.id}}" *ngFor="let item of subCategories">{{item.subCategoryName}}</option>
                </select>
              </div>
              <div class="col-md-6 col-lg-4">
                <input type="text" name="lessonName" id="lessonName" [(ngModel)]="lesson.lessonName" class="form-control" placeholder="Ders Adı">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-1 col-form-label" for="description">Hizmet Görseli</label>
              <div class="col-md-11">
                <input class="uploadButton-input" style="opacity: 100; z-index: 0;" #file type="file" (change)="uploadFile(file.files)" 
                 accept="images/*" id="file" name="file">
              </div>
            </div>
          </form>
          <div class="card-footer">
            <button type="submit" (click)="add()" class="btn btn-sm btn-primary"><i class="fi fi-rr-check"></i> {{buttonText}}</button>
            <button type="reset" (click)="reset()" class="btn btn-sm btn-red"><i class="fi fi-rr-cross-circle"></i> Formu Temizle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
      <div class="col-md-12">
        <div class="card-header">
          <h5 class="font-weight-bold">Hizmet Listesi</h5>
        </div>
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Hizmet Görseli</th>
                <th>Hizmet Adı</th>
                <th>Kategori</th>
                <th>Alt Kategori</th>
                <th style="text-align: right;">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of lessons">
                <td><img src="{{mainUrl}}lesson-images/{{item.lessonPhoto}}" width="70" alt="" style="border-radius: 35px;"></td>
                <td>{{item.lessonName}}</td>
                <td>{{item.category.categoryName}}</td>
                <td>{{item.subCategory.subCategoryName}}</td>
                <td style="text-align: right;">
                  <button class="btn btn-orange btn-info" (click)="getDetailFromTable(item)"><i class="fi fi-rr-user-pen"></i></button>
                  <button class="btn btn-red btn-info" (click)="remove(item.id)"><i class="fi fi-rr-trash"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer pb-0 pt-3">
         <app-generic-paginator #lessonPaginator [length]="total" [pageIndex]="pageIndex" [pageSize]="pageSize" 
        [pageSizeOptions]="[10, 25, 50, 75, 100, 150]" (pageChange)="onPage($event)"></app-generic-paginator>
      </div>
      </div><!--/.col-->
    </div><!--/.row-->
  </div>
</div>
